.content-jugadores, .content-barcos{
	width: 90vw;
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow-y: scroll;
}
.content-jugadores .jugador, .content-barcos .barco{
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 0px 3vh 0px 3vh;
}
.content-jugadores .jugador:hover, .content-barcos .barco:hover{
	background: #c2c2c2;
}
.content-jugadores .jugador .img, .content-barcos .barco .img{
	height: 8vh;
	overflow: hidden;
	border-radius: 100%;
}
.content-jugadores .jugador .nombre, .content-barcos .barco .nombre{
	font-size: 16px;
	margin: 0px 3vh 0px 3vh;
}

.content-tablero{
	width: 90vw;
	height: 80vh;
	position: absolute;
	left: 0px;
	top: 10vh;
}
.content-tablero .casilla{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-tablero img{
	cursor: pointer;
}